/.vs/SunsetShades/FileContentIndex/*.vsidx
/.vs/Sunset Shades/FileContentIndex/*.vsidx
/.vs/SunsetShades/v17/*.v2
/.vs/SunsetShades/DesignTimeBuild/*.v2
/.vs/Sunset Shades/DesignTimeBuild/*.v2
/SunsetShades/*.user
/SunsetShades/obj/Debug/net8.0/*.Up2Date
/SunsetShades.Service/obj/Debug/net8.0/*.Up2Date
/SunsetShades/wwwroot/lib/jquery-validation-unobtrusive/*.txt
/SunsetShades/wwwroot/lib/jquery/*.txt
/SunsetShades/obj/Debug/net8.0/*.txt
/SunsetShades.Service/obj/Debug/net8.0/*.txt
/SunsetShades.Context/obj/Debug/net8.0/*.txt
/SunsetShades/obj/*.targets
/SunsetShades.Service/obj/*.targets
/SunsetShades.Context/obj/*.targets
/SunsetShades/obj/*.props
/SunsetShades/obj/Debug/net8.0/staticwebassets/*.props
/SunsetShades.Service/obj/*.props
/SunsetShades.Context/obj/*.props
/SunsetShades/obj/Debug/net8.0/*.pdb
/SunsetShades/bin/Debug/net8.0/*.pdb
/SunsetShades.Service/obj/Debug/net8.0/*.pdb
/SunsetShades.Service/bin/Debug/net8.0/*.pdb
/SunsetShades.Context/obj/Debug/net8.0/*.pdb
/SunsetShades.Context/bin/Debug/net8.0/*.pdb
/SunsetShades/wwwroot/lib/jquery-validation/*.md
/SunsetShades/wwwroot/lib/jquery/dist/*.map
/SunsetShades/wwwroot/lib/bootstrap/dist/js/*.map
/SunsetShades/wwwroot/lib/bootstrap/dist/css/*.map
/SunsetShades/obj/*.json
/SunsetShades/obj/Debug/net8.0/*.json
/SunsetShades/bin/Debug/net8.0/*.json
/SunsetShades/*.json
/SunsetShades.Service/obj/*.json
/SunsetShades.Service/bin/Debug/net8.0/*.json
/SunsetShades.Context/obj/*.json
/SunsetShades.Context/bin/Debug/net8.0/*.json
/.vs/SunsetShades/v17/*.json
/SunsetShades/obj/Debug/net8.0/*.exe
/SunsetShades/bin/Debug/net8.0/*.exe
/SunsetShades/obj/Debug/net8.0/*.editorconfig
/SunsetShades.Service/obj/Debug/net8.0/*.editorconfig
/SunsetShades.Context/obj/Debug/net8.0/*.editorconfig
/SunsetShades/obj/Debug/net8.0/*.dll
/SunsetShades/obj/Debug/net8.0/refint/*.dll
/SunsetShades/obj/Debug/net8.0/ref/*.dll
/SunsetShades/bin/Debug/net8.0/zh-Hant/*.dll
/SunsetShades/bin/Debug/net8.0/zh-Hans/*.dll
/SunsetShades/bin/Debug/net8.0/tr/*.dll
/SunsetShades/bin/Debug/net8.0/*.dll
/SunsetShades/bin/Debug/net8.0/ru/*.dll
/SunsetShades/bin/Debug/net8.0/refs/*.dll
/SunsetShades/bin/Debug/net8.0/pt-BR/*.dll
/SunsetShades/bin/Debug/net8.0/pl/*.dll
/SunsetShades/bin/Debug/net8.0/ko/*.dll
/SunsetShades/bin/Debug/net8.0/ja/*.dll
/SunsetShades/bin/Debug/net8.0/it/*.dll
/SunsetShades/bin/Debug/net8.0/fr/*.dll
/SunsetShades/bin/Debug/net8.0/es/*.dll
/SunsetShades/bin/Debug/net8.0/de/*.dll
/SunsetShades/bin/Debug/net8.0/cs/*.dll
/SunsetShades.Service/obj/Debug/net8.0/*.dll
/SunsetShades.Service/obj/Debug/net8.0/refint/*.dll
/SunsetShades.Service/obj/Debug/net8.0/ref/*.dll
/SunsetShades.Service/bin/Debug/net8.0/*.dll
/SunsetShades.Context/obj/Debug/net8.0/*.dll
/SunsetShades.Context/obj/Debug/net8.0/refint/*.dll
/SunsetShades.Context/obj/Debug/net8.0/ref/*.dll
/SunsetShades.Context/bin/Debug/net8.0/*.dll
/SunsetShades/obj/Debug/net8.0/*.bin
/.vs/ProjectEvaluation/*.bin
/SunsetShades/obj/Debug/net8.0/*.BuildWithSkipAnalyzers
/SunsetShades.Service/obj/Debug/net8.0/*.BuildWithSkipAnalyzers
/SunsetShades.Context/obj/Debug/net8.0/*.BuildWithSkipAnalyzers
/SunsetShades/obj/*.cache
/SunsetShades/obj/Debug/net8.0/*.cache
/SunsetShades.Service/obj/*.cache
/SunsetShades.Service/obj/Debug/net8.0/*.cache
/SunsetShades.Context/obj/*.cache
/SunsetShades.Context/obj/Debug/net8.0/*.cache
/SunsetShades/wwwroot/lib/bootstrap/LICENSE
