<h2>Welcome to your cart.</h2>
<p>Your cart is empty</p>
<a asp-area="" asp-controller="Product" asp-action="Index" style="font-size: large;">
    <button class="btn btn-warning w-100 mb-3">Continue Shoping</button>
</a>