@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Eyewear Shop</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<section class="hero-section animate__animated animate__fadeIn" style="max-width: 1600px; margin: 1.0rem auto;">
    <div class="container-fluid p-5 bg-light position-relative">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="display-4 text-success" style="width: 50%; justify-content: left;">
                    Up to 25% off on Complete Pair
                    </h1>
                <p class="h5 mt-3" style="color: red;">CODE: GETMORE</p>
                <a href="#" class="btn btn-warning btn-lg mt-4">Shop Now</a>
            </div>
            <div class="col-md-6">
                <img src="/images/hero1.jpg" alt="Glasses Model" class="img-fluid w-100" style="object-fit:cover;width: 50%; height: 90%;">
            </div>
        </div>
</section>

<div class="features bg-white border-top">
    <div class="container py-3">
        <div class="row text-center">
            <div class="col-md feature-item">
                <i class="icon fs-1">🔥</i>
                <p>14-Day Free Returns</p>
            </div>
            <div class="col-md feature-item">
                <i class="icon fs-1">🎧</i>
                <p>24/7 Customer Service</p>
            </div>
            <div class="col-md feature-item">
                <i class="icon fs-1">✅</i>
                <p>365-Day Guarantee</p>
            </div>
            <div class="col-md feature-item">
                <i class="icon fs-1">⭐</i>
                <p>216k+ Reviews</p>
            </div>
        </div>
    </div>
</div>



<!-- Categories Section -->
<section class="category_section py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <a href="" style="text-decoration: none;color: #000;">
                    <img src="/images/men.jpeg" alt="Men's Eyewear">
                    <h3>Men's Eyewear</h3>
                </a>
            </div>
            <div class="col-md-4">
                <a href="" style="text-decoration: none;color: #000;">
                    <img src="./images/women.jpeg" alt="Women's Eyewear">
                    <h3>Women's Eyewear</h3>
                </a>
            </div>
            <div class="col-md-4">
                <a href="" style="text-decoration: none;color: #000;">
                    <img src="/images/kid.jpeg" alt="Kids' Eyewear">
                    <h3>Kids' Eyewear</h3>
                </a>
            </div>
        </div>
    </div>

</section>
<div class="container" style="justify-content: center; align-items: center;">
    <h2 class="text-center mt-4">Best Selling Glasses</h2>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 product-card">
            <div class="product-image">
                <img src="/images/metalic.jpeg" alt="St Michel $55">
                <span class="hot-selling">Hot Selling</span> <!-- Hot Selling indicator -->
            </div>
            <a href="" style="text-decoration: none;color: #000;">  <h3 class="product-title">St Michel $55</h3></a>
            <div class="star-rating">
                ★★★★☆ <!-- 4 stars rating -->
            </div>

            <ul class="color-options">
                <!-- <p style="color: brown;">colors available</p> -->
                <li style="background-color: #CCCCCC;"></li>
                <li style="background-color: #EEEEEE;"></li>
                <li style="background-color: #BBBBBB;"></li>

            </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 product-card">
            <div class="product-image">
                <img src="/images/modern.jpeg" alt="Vinyl $64">
                <span class="hot-selling">Hot Selling</span> <!-- Hot Selling indicator -->
            </div>
            <a href="" style="text-decoration: none;color: #000;">  <h3 class="product-title">Vinyl $64</h3></a>
            <div class="star-rating">
                ★★★★☆ <!-- 4 stars rating -->
            </div>
            <ul class="color-options">
                <li style="background-color: #FA8072;"></li>
                <li style="background-color: #FFD700;"></li>
                <li style="background-color: #90EE90;"></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 product-card">
            <div class="product-image">
                <img src="/images/pactic.jpeg" alt="Romy $64">
                <span class="hot-selling">Hot Selling</span> <!-- Hot Selling indicator -->
            </div>
            <a href="" style="text-decoration: none;color: #000;">  <h3 class="product-title">Romy $64</h3></a>
            <div class="star-rating">
                ★★★★☆ <!-- 4 stars rating -->
            </div>
            <ul class="color-options">
                <li style="background-color: #6A5ACD;"></li>
                <li style="background-color: #8B4513;"></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 product-card">
            <div class="product-image">
                <img src="/images/first.jpeg" alt="Good Vibrations $64">
                <span class="hot-selling">Hot Selling</span> <!-- Hot Selling indicator -->
            </div>
            <a href="" style="text-decoration: none;color: #000;">  <h3 class="product-title">Good Vibrations $64</h3></a>
            <div class="star-rating">
                ★★★★☆ <!-- 4 stars rating -->
            </div>
            <ul class="color-options">
                <li style="background-color: #000000;"></li>
                <li style="background-color: #cf3434;"></li>
                <li style="background-color: #FF6347;"></li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 product-card">
            <div class="product-image">
                <img src="/images/frame23.jpeg" alt="Good Vibrations $64">
                <span class="hot-selling">Hot Selling</span> <!-- Hot Selling indicator -->
            </div>
            <a href="" style="text-decoration: none;color: #000;"> <h3 class="product-title">Good Vibrations $94</h3></a>
            <div class="star-rating">
                ★★★★☆ <!-- 4 stars rating -->
            </div>
            <ul class="color-options">
                <li style="background-color: #000000;"></li>
                <li style="background-color: #cf3434;"></li>
                <li style="background-color: #FF6347;"></li>
            </ul>
        </div>

    </div>
</div>

<div class="container py-5">
    <h2 class="text-center mb-5 animate__animated animate__fadeInDown">The reviews are in!</h2>
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card p-4 animate__animated animate__fadeInLeft">
                <img src="/images/review.jpg" alt="Customer 1" class="rounded-circle mx-auto mb-4" style="width: 100px;">
                <h4>CARLEE A. B.</h4>
                <p class="text-warning">Perfect Fit</p>
                <p class="review-text">The website was easy to use, glasses shipped quickly, and I got lots of compliments! Thanks!</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card p-4 animate__animated animate__fadeInUp">
                <img src="/images/review2 (1).jpg" alt="Customer 2" class="rounded-circle mx-auto mb-4" style="width: 100px;">
                <h4>PAUHOV X.</h4>
                <p class="text-warning">Awesome!</p>
                <p class="review-text">These glasses fit perfectly! They're lightweight and feel sturdy. The colors and design are beautiful. Will be a returning customer!</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card p-4 animate__animated animate__fadeInRight">
                <img src="/images/review2 (2).jpg" alt="Customer 3" class="rounded-circle mx-auto mb-4" style="width: 100px;">
                <h4>SAMANTHA J.</h4>
                <p class="text-warning">I LOVE EyeBuyDirect</p>
                <p class="review-text">It's so user-friendly and customer service is incredible. I tell everyone about this site!</p>
            </div>
        </div>
    </div>
</div>

<section class="partner-brands py-5">
    <div class="container">
        <h2 class="text-center mb-4">Partner Brands</h2>
        <div class="overflow-hidden">
            <div class="d-flex partner-slider">
                <div class="partner-item mx-3">
                    <img src="/images/rayban.png" alt="Ray-Ban" class="img-fluid">
                    <p class="text-center">Ray-Ban</p>
                </div>
                <div class="partner-item mx-3">
                    <img src="/images/oakley.png" alt="Oakley" class="img-fluid">
                    <p class="text-center">Oakley</p>
                </div>
                <div class="partner-item mx-3">
                    <img src="/images/parker.png" alt="Warby Parker" class="img-fluid">
                    <p class="text-center">Warby Parker</p>
                </div>
                <div class="partner-item mx-3">
                    <img src="/images/person.gif" alt="Persol" class="img-fluid">
                    <p class="text-center">Persol</p>
                </div>
                <div class="partner-item mx-3">
                    <img src="/images/gucci.gif" alt="Gucci" class="img-fluid">
                    <p class="text-center">Gucci</p>
                </div>
                <div class="partner-item mx-3">
                    <img src="/images/prada.png" alt="Prada" class="img-fluid">
                    <p class="text-center">Prada</p>
                </div>
                <div class="partner-item mx-3">
                    <img src="/images/maui_jim.png" alt="Maui Jim" class="img-fluid">
                    <p class="text-center">Maui Jim</p>
                </div>
                <div class="partner-item mx-3">
                    <img src="/images/ck.png" alt="Calvin Klein" class="img-fluid">
                    <p class="text-center">Calvin Klein</p>
                </div>
                <div class="partner-item mx-3">
                    <img src="/images/tom_ford.png" alt="Tom Ford" class="img-fluid">
                    <p class="text-center">Tom Ford</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="promo-section py-5">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-4">

                <img src="/images/metalic.jpeg" alt="Tan France" class="img-fluid rounded promo-img mb-3">
                <h3 class="promo-title">Tan France x eyeglasses</h3>
                <p class="promo-description">Inspiring confidence through everyday eyewear.</p>
                <a href="#" class="btn btn-warning btn-lg mt-4">Shop now</a>
            </div>
            <div class="col-md-4">
                <img src="/images/first.jpeg" alt="50% Off Sale" class="img-fluid rounded promo-img mb-3">
                <h3 class="promo-title">Glasses On Sale</h3>
                <p class="promo-description">Good looking out! Enjoy up to 50% off these eyewear picks.</p>
                <a href="#" class="btn btn-warning btn-lg mt-4">Shop now</a>
            </div>
            <div class="col-md-4">
                <img src="/images/women.jpeg" alt="Fit & Style Quiz" class="img-fluid rounded promo-img mb-3">
                <h3 class="promo-title">Fit & Style Quiz</h3>
                <p class="promo-description">Need some help figuring out which glasses are right for you? Find your perfect pair.</p>
                <a href="#" class="btn btn-warning btn-lg mt-4">Take the quiz</a>
            </div>
        </div>
    </div>
</section>

<div class="container mt-5">
    <!-- Have Glasses Questions Section -->
    <div class="question-section text-center mb-5">
        <h2>Have Glasses Questions?</h2>
        <p>We’ve got answers. Learn how to find styles for your face shape while buying prescription glasses, understand your prescription, and even measure your pupillary distance at home without an eye exam!</p>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="icon-section">
                <i class="fas fa-file-prescription"></i>
                <p style="font-size: 1.3rem;"><a href="#" class="text-decoration-none">How to Read a Prescription</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="icon-section">
                <i class="fas fa-ruler"></i>
                <p style="font-size: 1.3rem;"><a href="#" class="text-decoration-none">Pupillary Distance</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="icon-section">
                <i class="fas fa-glasses"></i>
                <p style="font-size: 1.3rem;"><a href="#" class="text-decoration-none">Frames & Face Shapes</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="icon-section">
                <i class="fas fa-cart-plus"></i>
                <p style="font-size: 1.3rem;"><a href="#" class="text-decoration-none">How to Buy Glasses Online</a></p>
            </div>
        </div>
    </div>



    <!-- Footer -->
    <section class="subscription-section text-center py-5">
        <div class="container">
            <h2 class="display-5">Join The Exclusive Club</h2>
            <p class="lead">See our latest collections & exclusive offers before the crowd!</p>
            <form class="d-inline-flex align-items-center  ">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                    <input type="email" class="form-control" placeholder="Email" aria-label="Email">
                    <button class="btn btn-dark" type="submit">Subscribe</button>
                </div>
            </form>
            <p class="subscription-note mt-3">By subscribing, I confirm that I am over 16 years of age and agree to receive marketing communications as part of the loyalty program.</p>
        </div>
    </section>

    <!-- Footer Section -->

    <footer style="margin: 10px;" class="footer bg-dark text-white py-5">
        <div class="container-fluid">
            <div class="row">
                <!-- Social Media and Certifications -->
                <div class="col-lg-4 text-center">
                    <h5 class="mb-3">Follow Us</h5>
                    <div class="social-icons mb-3">
                        <a href="#"><i class="bi bi-instagram fs-3 me-3"></i></a>
                        <a href="#"><i class="bi bi-facebook fs-3 me-3"></i></a>
                        <a href="#"><i class="bi bi-twitter fs-3 me-3"></i></a>
                        <a href="#"><i class="bi bi-youtube fs-3 me-3"></i></a>
                        <a href="#"><i class="bi bi-tiktok fs-3"></i></a>
                    </div>
                    <a href="" style="text-decoration: none; color: white;">  instagram</a> <br> <br>
                    <a href="" style="text-decoration: none; color: white;">  Snapchat</a> <br> <br>
                    <a href="" style="text-decoration: none; color: white;">  Twitter</a>

                </div>

                <!-- Shop Links -->
                <div class="col-lg-2">
                    <h5>Shop</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Women's Eyeglasses</a></li>
                        <li><a href="#" class="text-white">Men's Eyeglasses</a></li>
                        <li><a href="#" class="text-white">Affordable Glasses</a></li>
                        <li><a href="#" class="text-white">All Eyeglasses</a></li>
                        <li><a href="#" class="text-white">Blue Light Glasses</a></li>
                        <li><a href="#" class="text-white">Progressive Lenses</a></li>
                    </ul>
                </div>

                <!-- Tips & Guides -->
                <div class="col-lg-2">
                    <h5>Tips & Guides</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">How to Order Glasses Online</a></li>
                        <li><a href="#" class="text-white">How to Choose Lenses</a></li>
                        <li><a href="#" class="text-white">Frames for Your Face Shape</a></li>
                        <li><a href="#" class="text-white">Help & FAQ</a></li>
                        <li><a href="#" class="text-white">Virtual Try-On</a></li>
                        <li><a href="#" class="text-white">Lens Index</a></li>
                    </ul>
                </div>

                <!-- Our Programs -->
                <div class="col-lg-2">
                    <h5>Our Programs</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Referral Program</a></li>
                        <li><a href="#" class="text-white">Loyalty Program</a></li>
                        <li><a href="#" class="text-white">Affiliate Program</a></li>
                        <li><a href="#" class="text-white">Student Discount</a></li>
                    </ul>
                </div>

                <!-- Our Brands -->
                <div class="col-lg-2">
                    <h5>Our Brands</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">FramesDirect.com</a></li>
                        <li><a href="#" class="text-white">Readers.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
